@import "../../../styles/variables.scss";
@import "../../../styles/mixins";


.add-challenge-component {
    margin-bottom: 100px;
.page-description {
    padding-top: 20px;
    color:$yellow;
    text-align: center;
}
    form {
        display       : flex;
        flex-direction: column;

        .form-element {
            margin: 10px 0;

            &>div>div>input, select {
                background-color: $light;
                width           : 100%;
                min-height      : 50px;
                padding         : 0 0px 0 10px;

            }

            &.ckeditor>.ckeditor-container {
                color           : black;
                background-color: $light;
                height          : 300px;
                overflow        : scroll;
                overflow-x      : hidden;
            }

            &.image-input {
                display       : flex;
                flex-direction: column;

                label {
                    margin          : 0;
                    text-align      : center;
                    width           : 50%;
                    padding         : 5px 10px 5px 10px;
                    background-color: $yellow;
                    cursor          : pointer;

                    &:hover {
                        background-color: darken($yellow, 10%);
                    }
                }

                input, select {
                    display: none;
                }


            }
        }


        .error {
            color: $warning;
        }

        .submit-bnt {
            border          : 2px solid $yellow;
            background-color: transparent;
            color           : $yellow;
            width           : 100%;
            max-width       : 300px;
            height          : 40px;
            align-self      : center;

            &:hover {
                background-color: $yellow;
                color           : $light;
            }
        }

    }
}