@import "./variables.scss";


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
      .left-bar {
        
        & > * {
            margin: 40px 60px;
            background-color: $block-bg-light;
            
        }
    }

    .right-bar {
       & > * {
        background-color: $block-bg-light;
        margin: 40px 60px 0px 0px;
       }

    }

}






