@import "./variables.scss";
@import "./mixins";


.left-navbar-container {
    position                  : fixed;
    display                   : flex;
    flex-direction            : column;
    height                    : 100%;
    background-color          : $dark-blue;
    z-index                   : 10;
    transition-duration       : .5s;
    transition-property       : display, width;
    transition-timing-function: ease-in-out;
    width                     : 70px;

    ul.navbar {
        padding: 0;
        display: block;

        li.nav-item {

            display       : flex;
            flex-direction: column;
            max-width     : 100%;
            overflow-x    : hidden;
            position      : relative;
            list-style    : none;
            margin        : 20px 10px;
            padding       : 0 10px;

            a {
                display        : inline-flex;
                max-width      : inherit;
                align-items    : center;
                cursor         : pointer;
                text-decoration: none;
                color: $text-color-light;
                &:hover {
                    color: $text-color-main;
                }
                img {
                    width : 20px;
                    margin: 0 5px;

                    &.logo {
                        width : 30px;
                        margin: 0;

                    }
                }

                span {
                    margin-left: 15px;


                }
            }
        }


    }

    &:hover {
        width: 190px;


    }

}