

@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "_mixins.scss";



body {
    font-family: $regular-font;
    background-color: $dark-blue90;
    color: $light;
}

a {
    text-decoration: none;
    color: $light;
    &:hover {
        text-decoration: none;
        color: $yellow;
    }
    
}

.main-container {
    padding: 0px 0 0 70px;
    
    @include lg {
        padding: 0px 70px;
    }
}