//Collors
$light: white;

$dark-blue: #343A40;

$dark-blue90: #474D52;

$yellow: #dabe41;

$success:#139944;

$dark:#343A40;



//Fonts

$regular-font: "RobotoRegular";
$bold-font   : "RobotoBold";
$light-font  : "RobotoLight";
$itaic-font  : "RobotoItalic";

$math-font: "Asana-Math";

//Typography

$small-font: 1rem * .75;

$big-font: 1rem * 1.50;

$text-color-light: white;

$text-color-main: $yellow;

$text-color-dark: $dark-blue;




// Bootstrap grid override

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.


$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1230px);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px);