
//Collors
$light: white;

$dark-blue: #343A40;

$dark-blue90: #474D52;

$yellow: #dabe41;

$success:#139944;

$dark:#343A40;

//Typography

$small-font: 1rem * .75;

$text-color-light: white;

$text-color-main: $yellow;

$text-color-dark: $dark-blue;

