@import '../../styles/variables.scss';
@import '../../styles/mixins';

.calculator-container {
    width: 300px;
    height: 400px;
    z-index: 1000;
    position: fixed;
    float: right;
    .titlebar {
        height: 20px;
        background-color: $dark-blue;
    }
}

