@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.challenge-page-container {
    height: 100vh;
    .container {
        height: 100%;
        @include md {
            padding-left: min(70px);

        }

    }
}