@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins";

.challenge-page-challenge-description-constainer {
    @include block-style;
    height        : 100%;
    padding       : 10px;
    display       : flex;
    flex-direction: column;

    .to-find {
        margin-top: auto;
    }
}